
//
// Variables
// --------------------------------------------------
//main
$font-base:              12px;
$gray-base:              #000 !default;
$white-base:             #fff !default;
$text-align-center:      center!default;

$border-left-wrapper:    1px solid #e7e7e7!default;
$nav-logo-width:         200px!default;
$nav-z-index:            999!default;
$nav-bg-color:           #20275c!default;
$common-nav-width:       140px!default;
$nav-color:              #fff !default;
$nav-bg-color:           #3b437c !default;
$common-nav-active:      #20275c !default;
$li-icon-width:          29px !default;
$li-icon-height:         35px !default;
$li-icon-opacity:        0.9 !default;
$li-icon-size:           65% !default;
$li-icon-report:         60% !default;
$li-icon-set:            62% !default;
$li-icon-pos:            45% !default;
$li-icon-pos-active:     50% !default;







