$font-stack: Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;

}
div {
    color: $primary-color;
    
  }

//SCSS
.test1 {
  content:  unquote('Hello Sass!') ;
}
.test2 {
  content: unquote("'Hello Sass!");
}
.test3 {
  content: unquote("I'm Web Designer");
}
.test4 {
  content: unquote("'Hello Sass!'");
}
.test5 {
  content: unquote('"Hello Sass!"');
}
.test6 {
  content: unquote(Hello Sass);
}

$brand-primary : darken(#428bca, 6.5%) !default; // #337ab7
$btn-primary-color : #fff !default;
$btn-primary-bg : $brand-primary !default;
$btn-primary-border : darken($btn-primary-bg, 5%) !default;